@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2rem;
}

.markdown h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}